.card_side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 2rem;
  -webkit-transition: all 0.9s ease;
  transition: all 0.9s ease;
  position: absolute;
  height: 440px;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 3px;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
  width: 300px;
}

.card:hover .front-card {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card:hover .back-card {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.portfolio {
  padding-top: 100px;
  width: 100%;
  height: 170vh;
  position: relative;
  margin-top: -265px;
  background-color: #e7e7e7;
  -webkit-clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
  overflow: hidden;
}

.portfolio h1 {
  font-size: 43px;
  color: #f8601a;
  font-weight: 800;
  text-transform: uppercase;
}

.projects-title {
  padding-top: 100px;
  display: block;
  text-align: center;
}

.card-container {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (330px)[3];
      grid-template-columns: repeat(3, 330px);
  -ms-grid-rows: (440px)[2];
      grid-template-rows: repeat(2, 440px);
  margin-top: 50px;
  grid-gap: 50px;
}

.heading-text h3.mastermind {
  color: #138db6;
}

.heading-text h3.todo {
  color: #911c6e;
}

.card-header.mastermind {
  background-image: url(mastermind-picture.png);
}

.card-header.todo {
  background-image: url(todo-final.png);
}

.card-header.pokedex {
  background-image: url(pokedex.png);
}

.card-header.calc {
  background-image: url(calc-pic.png);
}

.tools-container.mastermind-color {
  background-color: #138db6;
}

.tools-container.todo-color {
  background-color: #8213b6;
}

.tools-container.calc-color {
  background-color: gray;
}

.calc-text {
  color: gray;
}

.card {
  position: relative;
  height: 440px;
  width: 300px;
  background-color: #e7e7e7;
  border-radius: 5px;
  border: none;
}

.card-header {
  position: absolute;
  top: 0;
  left: 0;
  height: 150px;
  width: 100%;
  background-image: url(https://images.pexels.com/photos/315191/pexels-photo-315191.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: cover;
  background-position: center;
}

.card-header.quiz {
  background-image: url(quiz-pic.png);
}

.heading-text h3 {
  margin-top: 90px;
  font-weight: 800;
  color: #ff768d;
  display: block;
  text-align: center;
}

.heading-text h4 {
  margin: 10px 0px;
  font-size: 15px;
  font-family: serif;
  color: grey;
  text-align: center;
  padding: 0 10px;
}

.tools-container {
  position: absolute;
  background-color: #ff768d;
  bottom: 0;
  left: 0;
  border-top: solid black 1px;
  color: white;
  height: 80px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

.tools-container .html {
  height: 100%;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.tools-container .css {
  border-left: solid 1px black;
  height: 100%;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 22px;
}

.tools-container .js {
  border-left: solid 1px black;
  height: 100%;
  padding-left: 25px;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 8px;
}

.tools-container .jquery {
  border-left: solid 1px black;
  height: 100%;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 115.77px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 20px;
  padding-left: 15px;
}

.html.mastermind-tool {
  padding: 0px;
}

.css.mastermind-tool {
  padding-left: 22px;
}

.js.mastermind-tool {
  padding-left: 25px;
}

.html.quiz {
  padding-left: 20px;
  padding-right: 15px;
}

.css.quiz {
  padding: 0px 5px;
}

.js.quiz {
  padding: 0 5px;
}

.back-card {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  height: 440px;
  width: 300px;
  background-color: #ff768d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
}

.back-card .button {
  width: 180px;
  height: 50px;
  background-color: white;
  border-radius: 30px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
  font-weight: 700;
  font-size: 20px;
}

.back-card .button a {
  text-decoration: none;
  color: lightcoral;
}

footer .footer {
  height: 170px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(#ff5f6d), to(#f3ba6a));
  background: linear-gradient(to right, #ff5f6d, #f3ba6a);
}

footer .links-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 170px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer ul {
  width: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 0px;
  margin-bottom: 0px;
}

footer ul li {
  list-style: none;
  cursor: pointer;
  font-size: 20px;
  text-transform: capitalize;
  color: white;
}

footer ul .resume {
  padding-top: 18px;
}

footer ul .resume button {
  background-color: black;
  color: #ee3a49;
  outline: none;
  padding: 6px 10px;
  border: none;
  border-radius: 3px;
  text-transform: capitalize;
}

footer .email {
  border-top: 2px solid white;
  color: white;
  padding-top: 40px;
  font-size: 20px;
}

.resume-btn {
  color: #ee3a49;
  text-decoration: none;
}

.resume-btn:hover {
  color: #ffffff;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media only screen and (max-height: 1400px) {
  .portfolio {
    height: 120vh;
  }
  /* CSS */
}

/* 
large screens
  ##Screen = B/w 1025px to 1280px
*/
@media (max-width: 1200px) and (max-height: 1250px) {
  /* CSS */
  .card-container {
    height: 240vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .portfolio {
    height: 290vh;
    -webkit-clip-path: polygon(0 6%, 100% 0%, 100% 100%, 0% 100%);
            clip-path: polygon(0 6%, 100% 0%, 100% 100%, 0% 100%);
  }
}

@media (max-width: 1050px) and (max-height: 1150px) {
  /* CSS */
  .card-container {
    height: 260vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .portfolio {
    height: 320vh;
    -webkit-clip-path: polygon(0 6%, 100% 0%, 100% 100%, 0% 100%);
            clip-path: polygon(0 6%, 100% 0%, 100% 100%, 0% 100%);
  }
}

@media (max-width: 1000px) and (max-height: 1051px) {
  /* CSS */
  .card-container {
    height: 280vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .portfolio {
    height: 340vh;
    -webkit-clip-path: polygon(0 6%, 100% 0%, 100% 100%, 0% 100%);
            clip-path: polygon(0 6%, 100% 0%, 100% 100%, 0% 100%);
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
  /* CSS */
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* CSS */
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  /* CSS */
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
  /* CSS */
}
/*# sourceMappingURL=portfolio.css.map */