.contact {
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10rem;
  h1 {
    font-weight: bold;
  }
  &-con {
    height: 450px;
    display: flex;
    &__info {
      display: flex;
      flex: 0 0 40%;
      height: 100%;
      background-color: rgb(91, 27, 128);
      flex-direction: column;
      &__title {
        letter-spacing: 1px;
        font-size: 29px;
        margin-left: 20px;
        margin-top: 30px;
        padding-bottom: 1px;
        text-align: left;
        width: 100%;
        padding-right: 40px;
      }
      &__para {
        text-align: left;
        width: 100%;
        margin-left: 20px;
        padding-right: 40px;

        color: rgba(255, 255, 255, 0.644);
        margin-bottom: 60px;
      }
      &__info {
        &__list {
          margin-bottom: 33px;
          display: flex;
          align-items: center;
          li {
            list-style: none;
            font-size: 17px;
            letter-spacing: 1px;
          }
        }
      }
    }
    &__form {
      padding: 0 50px;
      flex-direction: column;
      display: flex;
      flex: 0 0 60%;
      align-items: center;

      &__title {
        color: rgb(91, 27, 128);
        margin-top: 30px;
        font-size: 29px;
        text-align: left;
        width: 100%;
      }
      &__para {
        color: rgb(0, 0, 0);
        margin-bottom: 0;
        text-align: left;
        width: 100%;
      }
      height: 100%;
      background-color: rgb(231, 231, 231);
      &__actual {
        margin-top: 50px;
      }
      &__input {
        margin-bottom: 25px;
        margin-top: 25px;
        width: 100%;

        border: none;
        border-bottom: 2px solid rgb(92, 92, 92);
        background-color: transparent;
        outline: none;
      }
      &__button {
        margin-top: 40px;
        align-self: flex-end;
        cursor: pointer;
        padding: 0.5rem 1.5rem;
        background-color: purple;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 20px;
        outline: none;
        border: none;
        text-transform: capitalize;
        letter-spacing: 1px;
        box-shadow: 0 2px 25px rgba(121, 31, 77, 0.5);
      }
    }
  }
}
.input-boxes {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.i {
  position: relative;
  label {
    position: absolute;
    left: 10px;
    bottom: 35px;
    color: rgb(82, 82, 82);
    text-transform: capitalize;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  }
  input:focus ~ label,
  input:valid ~ label {
    transform: translateY(-20px);
    color: black;
  }
  .underline {
    position: absolute;
    bottom: 25px;
    height: 2px;
    width: 96%;
    &::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 96%;
      background: rgb(142, 62, 248);
      transition: transform 0.2s ease;
      transform: scaleX(0);
    }
  }
  input:focus ~ .underline:before {
    transform: scaleX(1);
  }
}
.m {
  position: relative;
  label {
    letter-spacing: 1px;

    position: absolute;
    left: 0px;
    bottom: 35px;
    color: rgb(82, 82, 82);
    text-transform: capitalize;
    transition: all 0.3s ease;
  }
  input:focus ~ label,
  input:valid ~ label {
    transform: translateY(-20px);
    color: black;
  }
  .underline {
    position: absolute;
    bottom: 25px;
    height: 2px;
    width: 100% !important;
    &::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 100% !important;
      background: rgb(189, 148, 243);
      transition: transform 0.2s ease;
      transform: scaleX(0);
    }
  }
  input:focus ~ .underline:before {
    transform: scaleX(1);
  }
}
.message {
  width: 100%;
}
.last {
  margin-bottom: 10px;
}
.phone,
.email,
.location {
  font-size: 34px;
  margin-right: 20px;
}

@media only screen and (max-width: 900px) {
  .contact {
    &-con {
      flex-direction: column;
      min-height: 550px;
      height: auto;
      &__form__button {
        margin: 3rem 0;
      }
    }
  }
}

footer {
  .footer {
    position: absolute;
    bottom: -100px;
    left: 0;
    height: 130px;
    width: 100%;
    background: linear-gradient(to right, rgb(68, 23, 94), #8e32cc);
  }

  .links-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 130px;
    align-items: center;
  }
  ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
    margin-bottom: 0px;

    li {
      list-style: none;
      cursor: pointer;
      font-size: 20px;
      text-transform: capitalize;
      color: white;
    }
    .resume {
      padding-top: 18px;
      button {
        background-color: rgb(255, 255, 255);
        color: #ffffff;
        outline: none;
        padding: 6px 10px;
        border: none;
        border-radius: 3px;
        text-transform: capitalize;
      }
    }
  }
  .email {
    border-top: 2px solid white;
    color: white;
    padding-top: 40px;
    font-size: 20px;
  }
}
.resume-btn {
  color: rgb(0, 102, 255);
  text-decoration: none;
  font-weight: 600;
  font-size: 19px;
  transition: all ease 0.2s;
}
.resume-btn:hover {
  color: rgb(94, 6, 86);
}
