.card_side {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 2rem;
  transition: all 0.9s ease;
  position: absolute;
  height: 440px;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
  width: 300px;
}

.card:hover .front-card {
  transform: rotateY(180deg);
}
.card:hover .back-card {
  transform: rotateY(0);
}

.portfolio {
  width: 100%;
  position: relative;
  background-color: rgb(231, 231, 231);
}
.portfolio h1 {
  font-size: 43px;
  color: rgb(148, 20, 120);
  font-weight: 800;
  text-transform: uppercase;
}
.projects-title {
  padding: 80px 0px;
  display: block;
  text-align: center;
}
.card-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 330px);
  grid-template-rows: repeat(2, 440px);
  grid-gap: 50px;
}
.heading-text h3.mastermind {
  color: rgb(19, 141, 182);
}
.heading-text h3.todo {
  color: rgb(145, 28, 110);
}
.card-header.mastermind {
  background-image: url(mastermind-picture.png);
}
.card-header.todo {
  background-image: url(todo-final.png);
}
.card-header.pokedex {
  background-image: url(pokedex.png);
}
.card-header.calc {
  background-image: url(calc-pic.png);
}
.tools-container.mastermind-color {
  background-color: rgb(19, 141, 182);
}
.tools-container.todo-color {
  background-color: rgb(130, 19, 182);
}
.tools-container.calc-color {
  background-color: gray;
}
.calc-text {
  color: gray;
}
.card {
  position: relative;
  height: 440px;
  width: 300px;
  background-color: rgb(231, 231, 231);
  border-radius: 5px;
  border: none;
}
.card-header {
  position: absolute;
  top: 0;
  left: 0;
  height: 150px;
  width: 100%;
  background-image: url(https://images.pexels.com/photos/315191/pexels-photo-315191.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: cover;
  background-position: center;
}
.card-header.quiz {
  background-image: url(quiz-pic.png);
}
.heading-text h3 {
  margin-top: 90px;
  font-weight: 800;
  color: rgb(255, 118, 141);
  display: block;
  text-align: center;
}
.heading-text h4 {
  margin: 10px 0px;
  font-size: 15px;
  font-family: serif;
  color: grey;
  text-align: center;
  padding: 0 10px;
}

.tools-container {
  position: absolute;
  background-color: rgb(255, 118, 141);
  bottom: 0;
  left: 0;
  border-top: solid black 1px;
  color: white;
  height: 80px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
.tools-container .html {
  height: 100%;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  display: flex;
  align-items: center;

  padding: 0;
}
.tools-container .css {
  border-left: solid 1px black;
  height: 100%;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding-left: 22px;
}
.tools-container .js {
  border-left: solid 1px black;
  height: 100%;
  padding-left: 25px;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding-right: 8px;
}
.tools-container .jquery {
  border-left: solid 1px black;
  height: 100%;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: 115.77px;
  justify-content: center;
  padding-right: 20px;
  padding-left: 15px;
}
.html.mastermind-tool {
  padding: 0px;
}
.css.mastermind-tool {
  padding-left: 22px;
}
.js.mastermind-tool {
  padding-left: 25px;
}

.html.quiz {
  padding-left: 20px;
  padding-right: 15px;
}
.css.quiz {
  padding: 0px 5px;
}
.js.quiz {
  padding: 0 5px;
}

.back-card {
  transform: rotateY(180deg);

  height: 440px;
  width: 300px;
  background-color: rgb(255, 118, 141);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px 0;
}
.back-card .button {
  width: 180px;
  height: 50px;
  background-color: white;
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: 700;
  font-size: 20px;

  a {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
}
footer {
  .footer {
    height: 130px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0;
    background: linear-gradient(to right, #ff5f6d, #f3ba6a);
  }

  .links-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 130px;
    align-items: center;
  }
  ul {
    width: 420px;
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
    margin-bottom: 0px;

    li {
      list-style: none;
      cursor: pointer;
      font-size: 20px;
      text-transform: capitalize;
      color: white;
    }
    .resume {
      padding-top: 18px;
      button {
        background-color: rgb(255, 255, 255);
        color: #ffffff;
        outline: none;
        padding: 6px 10px;
        border: none;
        border-radius: 3px;
        text-transform: capitalize;
      }
    }
  }
  .email {
    border-top: 2px solid white;
    color: white;
    padding-top: 40px;
    font-size: 20px;
  }
}
.resume-btn {
  color: #ff0a0a;
  text-decoration: none;
  font-weight: 600;
  font-size: 19px;
}
.resume-btn:hover {
  color: #ff0000;
}

// @media only screen and (max-height: 700px) {
//   .projects-title {
//     padding-top: 50px;
//   }
//   .portfolio {
//     padding-top: 100px;
//     width: 100%;
//     height: 250vh;
//     position: relative;
//     margin-top: -300px;
//     background-color: rgb(231, 231, 231);
//     clip-path: polygon(0 6%, 100% 0%, 100% 100%, 0% 100%);
//     overflow: hidden;
//   }
//   .skills-container {
//     padding-bottom: 120px;
//   }
// }
// @media only screen and (max-height: 900px) {
//   .projects-title {
//     padding-top: 30px;
//   }
//   .portfolio {
//     padding-top: 100px;
//     width: 100%;
//     height: 220vh;
//     position: relative;
//     margin-top: -300px;
//     background-color: rgb(231, 231, 231);
//     clip-path: polygon(0 6%, 100% 0%, 100% 100%, 0% 100%);
//     overflow: hidden;
//   }
//   .skills-container {
//     padding-bottom: 120px;
//   }
// }
// @media only screen and (max-width: 1150px) {
//   .card-container {
//     height: 460vh;
//     width: 100%;
//     display: flex;
//     justify-content: flex-start;
//     align-items: center;
//     flex-direction: column;
//   }
//   .card {
//     width: 340px;
//     height: 440px;
//   }
//   .back-card {
//     width: 340px;
//     height: 440px;
//   }
//   .front-card {
//     width: 340px;
//     height: 440px;
//   }

//   .portfolio h1 {
//     font-size: 35px;
//     color: #f8601a;
//     font-weight: 800;
//     text-transform: uppercase;
//   }
//   .projects-title {
//     padding-top: 100px;
//   }

//   footer {
//     .footer {
//       height: 170px;
//       width: 100%;
//       position: absolute;
//       bottom: 0;
//       left: 0;
//       background: linear-gradient(to right, #ff5f6d, #f3ba6a);
//     }

//     .links-container {
//       width: 100%;
//       display: flex;
//       justify-content: space-around;
//       height: 170px;
//       align-items: center;
//     }
//     ul {
//       width: 420px;
//       display: flex;
//       justify-content: space-between;
//       padding-left: 0px;
//       margin-bottom: 0px;

//       li {
//         list-style: none;
//         cursor: pointer;
//         font-size: 20px;
//         text-transform: capitalize;
//         color: white;
//       }
//       .resume {
//         padding-top: 18px;
//         button {
//           background-color: rgb(0, 0, 0);
//           color: #ee3a49;
//           outline: none;
//           padding: 6px 10px;
//           border: none;
//           border-radius: 3px;
//           text-transform: capitalize;
//         }
//       }
//     }
//     .email {
//       border-top: 2px solid white;
//       color: white;
//       padding-top: 40px;
//       font-size: 20px;
//     }
//   }
// }

// @media only screen and (max-width: 400px) {
//   .back-card {
//     transform: rotateY(180deg);

//     height: 440px;
//     width: 300px;
//     background-color: rgb(255, 118, 141);
//     display: flex;
//     flex-direction: column;
//     justify-content: space-evenly;
//     align-items: center;
//     padding: 30px 0;
//   }
//   .tools-container .jquery {
//     border-left: solid 1px black;
//     height: 100%;
//     text-align: center;
//     font-size: 20px;
//     text-transform: uppercase;
//     display: flex;
//     align-items: center;
//     width: 115.77px;
//     justify-content: center;
//     padding-right: 25px;
//     padding-left: 15px;
//   }
//   .back-card .button {
//     width: 180px;
//     height: 50px;
//     background-color: white;
//     border-radius: 30px;
//     cursor: pointer;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     color: black;
//     font-weight: 700;
//     font-size: 20px;

//     a {
//       text-decoration: none;
//       color: lightcoral;
//     }
//   }
//   .projects-title {
//     padding-top: 100px;
//   }
//   .card {
//     width: 270px;
//     height: 400px;
//   }
//   .back-card {
//     width: 270px;
//     height: 400px;
//   }
//   .front-card {
//     width: 270px;
//     height: 400px;
//   }
//   footer {
//     .footer {
//       height: 170px;
//       width: 100%;
//       position: absolute;
//       bottom: 0;
//       left: 0;
//       background: linear-gradient(to right, #ff5f6d, #f3ba6a);
//     }

//     .links-container {
//       width: 100%;
//       display: flex;
//       justify-content: space-around;
//       height: 170px;
//       align-items: center;
//     }
//     ul {
//       width: 300px;
//       display: flex;
//       justify-content: space-between;
//       padding-left: 0px;
//       margin-bottom: 0px;

//       li {
//         list-style: none;
//         cursor: pointer;
//         font-size: 20px;
//         text-transform: capitalize;
//         color: white;
//       }
//       .resume {
//         padding-top: 18px;
//         button {
//           background-color: rgb(0, 0, 0);
//           color: #ee3a49;
//           outline: none;
//           padding: 6px 10px;
//           border: none;
//           border-radius: 3px;
//           text-transform: capitalize;
//         }
//       }
//     }
//     .email {
//       border-top: 2px solid white;
//       color: white;
//       padding-top: 40px;
//       font-size: 20px;
//     }
//   }

//   .projects-title {
//     padding-top: 120px;
//   }

//   .html.quiz {
//     padding-left: 20px;
//     padding-right: 5px;
//   }
//   .css.quiz {
//     padding: 0px 3px;
//   }
//   .js.quiz {
//     padding: 0 3px;
//   }
// }
// @media only screen and (max-width: 300px) {
//   .html.quiz {
//     padding-left: 20px;
//     padding-right: 5px;
//   }
//   .css.quiz {
//     padding: 0px 1px;
//   }
//   .js.quiz {
//     padding: 0 1px;
//   }

//   .tools-container .jquery {
//     border-left: solid 1px black;
//     height: 100%;
//     text-align: center;
//     font-size: 20px;
//     text-transform: uppercase;
//     display: flex;
//     align-items: center;
//     width: 115.77px;
//     justify-content: center;
//     padding-right: 40px;
//     padding-left: 20px;
//   }
// }
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
// //ex large screens HEIGHT
// @media only screen and (max-height: 1400px) {
//   .portfolio {
//     height: 120vh;
//   }
//   /* CSS */
// }

// /*
// large screens
//   ##Screen = B/w 1025px to 1280px
// */

// @media (max-width: 1200px) and (max-height: 1250px) {
//   /* CSS */
//   .card-container {
//     height: 240vh;
//     width: 100%;
//     display: flex;
//     justify-content: flex-start;
//     align-items: center;
//     flex-direction: column;
//   }
//   .portfolio {
//     height: 290vh;

//     clip-path: polygon(0 6%, 100% 0%, 100% 100%, 0% 100%);
//   }
// }
// //big laptops
// @media (max-width: 1050px) and (max-height: 1150px) {
//   /* CSS */
//   .card-container {
//     height: 260vh;
//     width: 100%;
//     display: flex;
//     justify-content: flex-start;
//     align-items: center;
//     flex-direction: column;
//   }
//   .portfolio {
//     height: 320vh;

//     clip-path: polygon(0 6%, 100% 0%, 100% 100%, 0% 100%);
//   }
// }

// @media (max-width: 1000px) and (max-height: 1051px) {
//   /* CSS */

//   .card-container {
//     height: 280vh;
//     width: 100%;
//     display: flex;
//     justify-content: flex-start;
//     align-items: center;
//     flex-direction: column;
//   }
//   .portfolio {
//     height: 340vh;

//     clip-path: polygon(0 6%, 100% 0%, 100% 100%, 0% 100%);
//   }
// }

// /*
//   ##Device = Tablets, Ipads (portrait)
//   ##Screen = B/w 768px to 1024px
// */

// @media (min-width: 768px) and (max-width: 1024px) {
//   /* CSS */
// }

// /*
//   ##Device = Tablets, Ipads (landscape)
//   ##Screen = B/w 768px to 1024px
// */

// @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
//   /* CSS */
// }

// /*
//   ##Device = Low Resolution Tablets, Mobiles (Landscape)
//   ##Screen = B/w 481px to 767px
// */

// @media (min-width: 481px) and (max-width: 767px) {
//   /* CSS */
// }

// /*
//   ##Device = Most of the Smartphones Mobiles (Portrait)
//   ##Screen = B/w 320px to 479px
// */

// @media (min-width: 320px) and (max-width: 480px) {
//   /* CSS */
// }
