@charset "UTF-8";
.contact {
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10rem;
}
.contact h1 {
  font-weight: bold;
}
.contact-con {
  height: 450px;
  display: flex;
}
.contact-con__info {
  display: flex;
  flex: 0 0 40%;
  height: 100%;
  background-color: #5b1b80;
  flex-direction: column;
}
.contact-con__info__title {
  letter-spacing: 1px;
  font-size: 29px;
  margin-left: 20px;
  margin-top: 30px;
  padding-bottom: 1px;
  text-align: left;
  width: 100%;
  padding-right: 40px;
}
.contact-con__info__para {
  text-align: left;
  width: 100%;
  margin-left: 20px;
  padding-right: 40px;
  color: rgba(255, 255, 255, 0.644);
  margin-bottom: 60px;
}
.contact-con__info__info__list {
  margin-bottom: 33px;
  display: flex;
  align-items: center;
}
.contact-con__info__info__list li {
  list-style: none;
  font-size: 17px;
  letter-spacing: 1px;
}
.contact-con__form {
  padding: 0 50px;
  flex-direction: column;
  display: flex;
  flex: 0 0 60%;
  align-items: center;
  height: 100%;
  background-color: #e7e7e7;
}
.contact-con__form__title {
  color: #5b1b80;
  margin-top: 30px;
  font-size: 29px;
  text-align: left;
  width: 100%;
}
.contact-con__form__para {
  color: black;
  margin-bottom: 0;
  text-align: left;
  width: 100%;
}
.contact-con__form__actual {
  margin-top: 50px;
}
.contact-con__form__input {
  margin-bottom: 25px;
  margin-top: 25px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #5c5c5c;
  background-color: transparent;
  outline: none;
}
.contact-con__form__button {
  margin-top: 40px;
  align-self: flex-end;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  background-color: purple;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  outline: none;
  border: none;
  text-transform: capitalize;
  letter-spacing: 1px;
  box-shadow: 0 2px 25px rgba(121, 31, 77, 0.5);
}

.input-boxes {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.i {
  position: relative;
}
.i label {
  position: absolute;
  left: 10px;
  bottom: 35px;
  color: #525252;
  text-transform: capitalize;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
.i input:focus ~ label,
.i input:valid ~ label {
  transform: translateY(-20px);
  color: black;
}
.i .underline {
  position: absolute;
  bottom: 25px;
  height: 2px;
  width: 96%;
}
.i .underline::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 96%;
  background: #8e3ef8;
  transition: transform 0.2s ease;
  transform: scaleX(0);
}
.i input:focus ~ .underline:before {
  transform: scaleX(1);
}

.m {
  position: relative;
}
.m label {
  letter-spacing: 1px;
  position: absolute;
  left: 0px;
  bottom: 35px;
  color: #525252;
  text-transform: capitalize;
  transition: all 0.3s ease;
}
.m input:focus ~ label,
.m input:valid ~ label {
  transform: translateY(-20px);
  color: black;
}
.m .underline {
  position: absolute;
  bottom: 25px;
  height: 2px;
  width: 100% !important;
}
.m .underline::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100% !important;
  background: #bd94f3;
  transition: transform 0.2s ease;
  transform: scaleX(0);
}
.m input:focus ~ .underline:before {
  transform: scaleX(1);
}

.message {
  width: 100%;
}

.last {
  margin-bottom: 10px;
}

.phone,
.email,
.location {
  font-size: 34px;
  margin-right: 20px;
}

@media only screen and (max-width: 900px) {
  .contact-con {
    flex-direction: column;
    min-height: 550px;
    height: auto;
  }
  .contact-con__form__button {
    margin: 3rem 0;
  }
}
footer .footer {
  position: absolute;
  bottom: -100px;
  left: 0;
  height: 130px;
  width: 100%;
  background: linear-gradient(to right, #44175e, #8e32cc);
}
footer .links-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 130px;
  align-items: center;
}
footer ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 0px;
  margin-bottom: 0px;
}
footer ul li {
  list-style: none;
  cursor: pointer;
  font-size: 20px;
  text-transform: capitalize;
  color: white;
}
footer ul .resume {
  padding-top: 18px;
}
footer ul .resume button {
  background-color: white;
  color: #ffffff;
  outline: none;
  padding: 6px 10px;
  border: none;
  border-radius: 3px;
  text-transform: capitalize;
}
footer .email {
  border-top: 2px solid white;
  color: white;
  padding-top: 40px;
  font-size: 20px;
}

.resume-btn {
  color: #0066ff;
  text-decoration: none;
  font-weight: 600;
  font-size: 19px;
  transition: all ease 0.2s;
}

.resume-btn:hover {
  color: #5e0656;
}

.testimonial {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  position: relative;
  flex-direction: column;
  background-image: linear-gradient(to right, rgba(20, 20, 20, 0.795), rgba(34, 34, 34, 0.801)), url(https://images.pexels.com/photos/5997286/pexels-photo-5997286.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-position: center;
  color: white;
}
.testimonial h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  margin: 4rem 3rem;
  text-align: center;
}

.testi-con {
  flex: 0 0 50%;
  display: flex;
  justify-content: center;
  height: 100%;
}
.testi-con__actual {
  position: relative;
  width: 60vw;
  min-height: 600px;
  height: auto;
  display: flex;
  background-color: #e7e7e7;
}
.testi-con__pic {
  flex: 0 0 40%;
  height: 100%;
  padding: 50px;
}
.testi-con__pic__image {
  background-image: linear-gradient(to right, rgba(177, 61, 177, 0.596), rgba(141, 82, 153, 0.562)), url(https://images.pexels.com/photos/4114735/pexels-photo-4114735.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: cover;
  height: inherit;
  background-position: center;
}
.testi-con__content__para::before {
  content: "“";
  font-size: 10rem;
  position: absolute;
  top: -9.5rem;
  left: 0rem;
  color: #46163ba4;
}
.testi-con__content__para::after {
  content: "“";
  font-size: 10rem;
  position: absolute;
  bottom: -13rem;
  right: 1rem;
  color: #400d7aa2;
  transform: rotateY(180deg);
}
.testi-con__content {
  position: relative;
  flex: 0 0 6;
  padding: 50px;
  height: 100%;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.testi-con__content__para {
  position: relative;
  display: inline;
  line-height: 2;
  transition: opacity 0.4s ease-in;
  opacity: 0;
  margin-top: 20px;
}
.testi-con__content__name {
  margin-top: 35px;
  text-align: left;
  transition: opacity 0.2s ease;
  opacity: 0;
  width: 100%;
  font-weight: bold;
  font-size: 25px;
  color: purple;
  letter-spacing: 1px;
}

.next {
  cursor: pointer;
  position: absolute;
  right: -35px;
  top: 50%;
  transform: translateY(-50%);
  height: 70px;
  width: 70px;
  background-color: purple;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  padding-left: 5px;
  box-shadow: 0 2px 25px rgba(121, 31, 77, 0.5);
}

.back {
  cursor: pointer;
  position: absolute;
  left: -40px;
  top: 50%;
  transform: translateY(-50%);
  height: 70px;
  width: 70px;
  background-color: purple;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  padding-right: 5px;
  box-shadow: 0 2px 25px rgba(121, 31, 77, 0.5);
}

@media only screen and (max-width: 900px) {
  .testi-con__content__para::before {
    content: "“";
    font-size: 7rem;
    position: absolute;
    top: -7rem;
    left: 0rem;
    color: #610c4fa4;
  }
  .testi-con__content__para::after {
    content: "“";
    font-size: 7rem;
    position: absolute;
    bottom: -10rem;
    right: 0rem;
    color: #400d7aa2;
    transform: rotateY(180deg);
  }
  .testi-con__actual {
    flex-direction: column;
    min-height: 800px;
    font-size: 0.9rem;
  }
  .testi-con__content {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 0px;
  }
  .testi-con__content__name {
    margin-top: 0;
    margin-bottom: 0;
  }
  .testi-con__pic {
    padding: 30px;
  }

  .next {
    height: 55px;
    width: 55px;
  }

  .back {
    height: 55px;
    width: 55px;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  width: 100vw;
}

body {
  font-family: "Fira Sans", sans-serif;
  overflow-x: hidden;
}

header {
  height: 100vh;
  width: auto;
}

.gradient {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  background-image: linear-gradient(to top left, #9d29a8a4 0%, #751f6ebe 100%);
}

.vid {
  position: absolute;
  left: 0;
  top: 0;
  -o-object-fit: fill;
  object-fit: fill;
  width: 100%;
  height: 100%;
  z-index: -3;
}

.navbar {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 30px;
  background-color: #e7e7e7;
}
.navbar .links {
  width: 100%;
  margin-left: auto;
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  justify-content: space-evenly;
}
.navbar .links .link {
  list-style: none;
  cursor: pointer;
  font-size: 20px;
  text-transform: uppercase;
  color: #a82597;
  font-weight: 600;
  letter-spacing: 2px;
}

.cube-con {
  position: absolute;
  top: 25%;
  right: 10%;
}

.cube {
  perspective: 800px;
  perspective-origin: 50% 100px;
}

.cube__faces {
  animation: spin infinite linear 35s;
  position: relative;
  width: 300px;
  transform-style: preserve-3d;
}

.cubeface {
  outline: 1px solid #31002b;
  position: absolute;
  width: 300px;
  height: 300px;
  opacity: 0.75;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes spin {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.cubefront {
  transform: translateZ(150px);
  background-color: #755d8b;
}
.cubefront img {
  height: 90%;
}

.cubeback {
  transform: translateZ(-150px) rotateY(180deg);
  background-color: #5f4c6e;
}
.cubeback img {
  height: 80%;
}

.cuberight {
  transform: rotateY(-270deg) translateX(150px);
  transform-origin: top right;
  background-color: #46384b;
}
.cuberight img {
  height: 80%;
}

.cubetop {
  transform: rotateX(-90deg) translateY(-150px);
  transform-origin: top center;
  background-color: #604e68;
}

.cubebottom {
  transform: rotateX(90deg) translateY(150px);
  transform-origin: bottom center;
  background-color: #6a546e;
}

.cubeleft {
  transform: rotateY(270deg) translateX(-150px);
  transform-origin: center left;
  background-color: #8a618a;
}
.cubeleft img {
  height: 100%;
}

.ham {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 80px;
  height: 80px;
  font-size: 30px;
  cursor: pointer;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.ham-1 {
  width: 40px;
  height: 6px;
  background-color: white;
  border-radius: 3px;
  transition: all 0.5s ease-in-out;
}

.ham-1::before,
.ham-1::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 6px;
  background-color: white;
  border-radius: 3px;
  transition: all 0.5s ease-in-out;
}

.ham-1::before {
  transform: translateY(-16px);
}

.ham-1::after {
  transform: translateY(16px);
}

.ham-1.open {
  transform: translateX(-50px);
  background-color: transparent;
  box-shadow: none;
}

.ham-1.open::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.ham-1.open::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.logo {
  height: 85px;
}

.logo:hover {
  transform: scale(1.2);
  transition: all 0.4s;
}

.content-box {
  position: absolute;
  top: 45%;
  left: 50%;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-text {
  margin-bottom: 40px;
  line-height: 80px;
}

.name {
  display: block;
  font-size: 70px;
  font-weight: 500;
  color: white;
  letter-spacing: 15px;
  width: 1000px;
}

.block {
  display: block;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.none {
  display: none;
}

.title {
  display: block;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 18px;
  color: #ffffff;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.3rem 2.6rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  outline: none;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  color: black;
  outline: none;
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0);
  outline: none;
}

.project-btn {
  background-color: white;
  color: #0066ff;
  font-weight: 700;
  font-size: 1.3rem;
  letter-spacing: 1.5px;
}

.about-page {
  position: relative;
  width: 100vw;
  min-height: 90vh;
  background-color: #e7e7e7;
}
.about-page .about-title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-page .about-title h1 {
  color: #b132b1;
  font-weight: bold;
  font-size: 43px;
  letter-spacing: 2px;
  margin-top: 4vh;
  text-transform: uppercase;
}
.about-page .con {
  padding-top: 4vh;
  padding-bottom: 15vh;
}
.about-page .content-about p {
  padding: 0 140px;
  color: rgba(0, 0, 0, 0.808);
  margin-bottom: 30px;
  font-size: 1.2em;
}
.about-page .content-about h5 {
  text-align: center;
  width: 100%;
  color: #b132b1;
  font-weight: 550;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.skills-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(to right, rgba(20, 20, 20, 0.795), rgba(34, 34, 34, 0.801)), url(https://images.pexels.com/photos/1089194/pexels-photo-1089194.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-position: center;
  background-size: cover;
  background-color: #e2e2e2;
  color: black;
}
.skills-container .skills-title {
  margin-top: 100px;
  margin-bottom: 60px;
  color: white;
  font-size: 43px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.skills-container .section-title {
  color: peru;
  font-size: 36px;
  text-align: center;
}
.skills-container .skills .progress {
  height: 120px;
  display: block;
  background: none;
  border-radius: 0px;
}
.skills-container .skills .skill {
  padding: 10px 0;
  margin: 0;
  text-transform: uppercase;
  display: block;
  font-weight: 500;
  font-weight: 500;
  font-size: 18px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-right: 10px;
}
.skills-container .skills .val {
  float: right;
  font-style: normal;
}
.skills-container .progress-bar-wrap {
  background: white;
}
.skills-container .progress-bar-wrap .progress-bar {
  height: 35px;
  transition: 0.9s;
  background-color: #4ac74a;
}
.skills-container .progress-bar-wrap .progress-bar .jquery-width {
  width: 100px;
  height: 35px;
  background-color: #2d0831;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills-container .progress-bar-wrap .progress-bar .jquery-width {
  width: 100px;
  height: 35px;
  background-color: #092f46;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills-container .progress-bar-wrap .progress-bar .html-width {
  width: 90px;
  height: 35px;
  background-color: #9e5a16;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills-container .progress-bar-wrap .progress-bar .css-width {
  width: 90px;
  height: 35px;
  background-color: #214dac;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.skills-container .progress-bar-wrap .progress-bar .js-width {
  width: 50px;
  height: 35px;
  background-color: #c4b215;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills-container .progress-bar-wrap .progress-bar .sass-width {
  width: 80px;
  height: 35px;
  background-color: #b17b84;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills-container .progress-bar-wrap .progress-bar .bootstrap-width {
  width: 120px;
  height: 35px;
  background-color: #5f0c5f;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills-container .progress-bar-wrap i {
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills-container .progress-bar-wrap .html {
  background-color: #dd8731;
}
.skills-container .progress-bar-wrap .css {
  background-color: #4d7feb;
}
.skills-container .progress-bar-wrap .js {
  background-color: #f5e12e;
}
.skills-container .progress-bar-wrap .sass {
  background-color: pink;
}
.skills-container .progress-bar-wrap .jquery {
  background-color: #095f7c;
}
.skills-container .progress-bar-wrap .bootstrap {
  background-color: #9b0e9b;
}

.node {
  width: 40%;
}

@media only screen and (max-width: 995px) {
  .skills-container {
    margin-top: -230px;
  }
  .skills-container .skills-title {
    margin-top: 23vh;
  }

  .con {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .cube-con {
    position: static;
    display: flex;
    justify-content: center;
    margin: 0 10px;
    padding-bottom: 0px;
    margin-bottom: 10vh;
    margin-top: 2vh;
  }

  .cubeface {
    width: 200px;
    height: 200px;
  }

  .cube__faces {
    width: 200px;
    height: 200px !important;
  }

  .cubefront {
    transform: translateZ(150px);
    background-color: #755d8b;
  }

  .cubeback {
    transform: translateZ(-50px) rotateY(180deg);
    background-color: #5f4c6e;
  }

  .cuberight {
    transform: rotateY(-270deg) translateX(50px);
    transform-origin: top right;
    background-color: #46384b;
  }

  .cubetop {
    transform: rotateX(-90deg) translateY(-150px);
    transform-origin: top center;
    background-color: #604e68;
  }

  .cubebottom {
    transform: rotateX(90deg) translateY(150px);
    transform-origin: bottom center;
    background-color: #6a546e;
  }

  .cubeleft {
    transform: rotateY(270deg) translateX(-50px);
    transform-origin: center left;
    background-color: #8a618a;
  }
}
@media only screen and (max-width: 1150px) {
  .name {
    display: block;
    font-size: 60px;
    font-weight: 500;
    color: white;
    letter-spacing: 15px;
    width: 800px;
    padding: 0 30px;
  }

  .title {
    display: block;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 18px;
    color: #ffffff;
  }
}
@media only screen and (max-width: 780px) {
  .name {
    display: block;
    font-size: 55px;
    font-weight: 500;
    color: white;
    letter-spacing: 15px;
    width: 600px;
  }

  .title {
    display: block;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 10px;
    color: #ffffff;
  }

  .logo-container {
    position: absolute;
    top: 40px;
    left: 30px;
  }
}
@media only screen and (max-width: 650px) {
  .name {
    display: block;
    font-size: 50px;
    font-weight: 500;
    color: white;
    letter-spacing: 10px;
    width: 500px;
  }

  .title {
    display: block;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 5px;
    color: #ffffff;
  }

  .about-page .icons {
    width: 100%;
  }
  .about-page .icons img {
    width: 100px;
  }
  .about-page .about-title {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about-page .about-title h1 {
    color: #941478;
    font-size: 40px;
  }
  .about-page .con {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .about-page .content-about {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }
  .about-page .content-about p {
    padding: 0 30px;
    margin-bottom: 30px;
    font-size: 1.1em;
    text-align: center;
  }
  .about-page .content-about h5 {
    text-align: center;
    width: 100%;
    color: #b132b1;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 550px) {
  .node {
    width: 50%;
  }

  .name {
    display: block;
    font-size: 45px;
    font-weight: 500;
    color: white;
    letter-spacing: 10px;
    width: 400px;
  }

  .title {
    display: block;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 5px;
    color: #ffffff;
    width: 400px;
  }

  .heading-text {
    margin-bottom: 40px;
    line-height: 60px;
  }

  .logo {
    height: 60px;
  }

  .btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.1rem 2rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    outline: none;
    font-size: 20px;
  }

  .logo-container {
    position: absolute;
    top: 30px;
    left: 20px;
  }
}
@media only screen and (max-width: 450px) {
  .name {
    display: block;
    font-size: 40px;
    font-weight: 500;
    color: white;
    letter-spacing: 10px;
    width: 350px;
    margin: 0px;
  }

  .title {
    display: block;
    font-size: 19px;
    font-weight: 600;
    letter-spacing: 4px;
    color: #ffffff;
    width: 350px;
  }

  .heading-text {
    margin-bottom: 40px;
    line-height: 60px;
  }

  .btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.9rem 2rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    outline: none;
    font-size: 20px;
  }

  .logo-container {
    position: absolute;
    top: 30px;
    left: 20px;
  }
}
.col {
  padding: 0px;
}

.progress {
  letter-spacing: 1px;
}

@media only screen and (max-width: 405px) {
  .vid {
    display: none;
  }

  .gradient {
    background-image: linear-gradient(to top left, #9d29a8a4 0%, #751f6ebe 100%), url(./mpic.png);
    background-size: cover;
    background-position: center;
  }

  .name {
    display: block;
    font-size: 40px;
    font-weight: 500;
    color: white;
    letter-spacing: 5px;
    margin-right: 0px;
  }

  .title {
    display: block;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 3px;
    color: #ffffff;
  }

  .heading-text {
    margin-bottom: 30px;
    line-height: 50px;
  }

  .btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.9rem 2rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    outline: none;
    font-size: 20px;
  }

  .logo-container {
    position: absolute;
    top: 30px;
    left: 20px;
  }
}
@media only screen and (max-width: 360px) {
  .name {
    display: block;
    font-size: 35px;
    font-weight: 500;
    color: white;
    letter-spacing: 5px;
    width: 280px;
    margin: 0;
  }

  .title {
    display: block;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 3px;
    color: #ffffff;
    width: 280px;
  }

  .heading-text {
    margin-bottom: 30px;
    line-height: 50px;
  }

  .btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.9rem 1.3rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    outline: none;
    font-size: 20px;
  }

  .logo-container {
    position: absolute;
    top: 30px;
    left: 20px;
  }

  .about-page .icons img {
    width: 90px;
  }
}
.NavbarItems {
  position: relative;
}

.header__logo {
  font-size: 1.2rem;
}

.header__number {
  display: none;
}

.none {
  display: none;
}

.nav__link:visited, .nav__link:link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 0px;
  cursor: pointer;
  text-align: center;
  width: 100%;
  display: table;
  letter-spacing: 3px;
  font-family: "Fira Sans", sans-serif;
  color: #fdfdfd;
}
.nav__link:hover {
  transform: scale(1.2);
  transition: all 0.2s linear;
}
.nav__item {
  width: 100%;
}
.nav__item:hover {
  background-color: transparent;
}

.nav-active {
  background: #772d7e;
  opacity: 1;
  padding-left: 0px;
  top: 0;
  transition: all 0.6s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 100vh;
  z-index: 10;
  position: fixed;
  left: -100%;
}

.nav-links {
  text-align: center;
  width: 100%;
  display: table;
}

.nav-item:hover {
  border: none;
}

.nav-item {
  width: 100%;
}

.navbar-logo {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(25%, 50%);
}

.menu-icon {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  transform: translate(-100%, 60%);
  font-size: 1.8rem;
  cursor: pointer;
  z-index: 1111;
  font-size: 3rem;
}

.fa-times {
  color: #fff;
  font-size: 2rem;
}

.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
}

.none {
  opacity: 0;
}

.demo-container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 111;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.demo-container .demo {
  height: 400px;
  width: 600px;
  object-fit: fill;
}

.x {
  position: fixed;
  top: 10px;
  right: 10px;
  cursor: pointer;
  height: 100px;
  width: 100px;
  border-radius: 5px;
  z-index: 111;
}

.x:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "❌";
  /* use the hex value here... */
  font-size: 40px;
  color: #fff;
  line-height: 100px;
  text-align: center;
}

.hide {
  display: none;
}/*# sourceMappingURL=style.css.map */