@import "./contact.scss";
@import "./testimonial.scss";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  width: 100vw;
}
body {
  font-family: "Fira Sans", sans-serif;
  overflow-x: hidden;
}
header {
  height: 100vh;
  width: auto;
}
.gradient {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  background-image: linear-gradient(to top left, #9d29a8a4 0%, #751f6ebe 100%);
}
.vid {
  position: absolute;
  left: 0;
  top: 0;
  object-fit: fill;
  width: 100%;
  height: 100%;
  z-index: -3;
}
.navbar {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 30px;
  background-color: #e7e7e7;
  .links {
    width: 100%;
    margin-left: auto;
    display: flex;
    align-items: center;
    margin-bottom: 0px;

    justify-content: space-evenly;
    .link {
      list-style: none;
      cursor: pointer;
      font-size: 20px;
      text-transform: uppercase;
      color: rgb(168, 37, 151);
      font-weight: 600;
      letter-spacing: 2px;
    }
  }
}
.cube-con {
  position: absolute;
  top: 25%;
  right: 10%;
}
.cube {
  perspective: 800px;
  perspective-origin: 50% 100px;
}
.cube__faces {
  animation: spin infinite linear 35s;
  position: relative;
  width: 300px;
  transform-style: preserve-3d;
}
.cubeface {
  outline: 1px solid #31002b;
  position: absolute;
  width: 300px;
  height: 300px;
  opacity: 0.75;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes spin {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.cubefront {
  transform: translateZ(150px);
  background-color: rgb(117, 93, 139);
  img {
    height: 90%;
  }
}
.cubeback {
  transform: translateZ(-150px) rotateY(180deg);
  background-color: rgb(95, 76, 110);
  img {
    height: 80%;
  }
}
.cuberight {
  transform: rotateY(-270deg) translateX(150px);
  transform-origin: top right;
  background-color: #46384b;
  img {
    height: 80%;
  }
}
.cubetop {
  transform: rotateX(-90deg) translateY(-150px);
  transform-origin: top center;
  background-color: #604e68;
}
.cubebottom {
  transform: rotateX(90deg) translateY(150px);
  transform-origin: bottom center;
  background-color: #6a546e;
}
.cubeleft {
  transform: rotateY(270deg) translateX(-150px);
  transform-origin: center left;
  background-color: #8a618a;
  img {
    height: 100%;
  }
}
.ham {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 80px;
  height: 80px;
  font-size: 30px;
  cursor: pointer;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.ham-1 {
  width: 40px;
  height: 6px;
  background-color: white;
  border-radius: 3px;
  transition: all 0.5s ease-in-out;
}
.ham-1::before,
.ham-1::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 6px;
  background-color: white;
  border-radius: 3px;
  transition: all 0.5s ease-in-out;
}
.ham-1::before {
  transform: translateY(-16px);
}
.ham-1::after {
  transform: translateY(16px);
}
.ham-1.open {
  transform: translateX(-50px);
  background-color: transparent;
  box-shadow: none;
}
.ham-1.open::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.ham-1.open::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
.logo {
  height: 85px;
}
.logo:hover {
  transform: scale(1.2);
  transition: all 0.4s;
}
.content-box {
  position: absolute;
  top: 45%;
  left: 50%;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
  text-align: center;
}
.heading-text {
  margin-bottom: 40px;
  line-height: 80px;
}
.name {
  display: block;
  font-size: 70px;
  font-weight: 500;
  color: white;
  letter-spacing: 15px;
  width: 1000px;
}
.block {
  display: block;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.none {
  display: none;
}
.title {
  display: block;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 18px;
  color: #ffffff;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.3rem 2.6rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  outline: none;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  color: rgb(0, 0, 0);
  outline: none;
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0);
  outline: none;
}
.project-btn {
  background-color: white;
  color: rgb(0, 102, 255);

  font-weight: 700;
  font-size: 1.3rem;
  letter-spacing: 1.5px;
}

.about-page {
  position: relative;
  width: 100vw;
  background-color: #e7e7e7;

  .about-title {
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
      color: #b132b1;
      font-weight: bold;
      font-size: 43px;
      letter-spacing: 2px;
      margin-top: 4vh;
      text-transform: uppercase;
    }
  }
  .con {
    padding-top: 4vh;
    padding-bottom: 15vh;
  }
  .content-about {
    p {
      padding: 0 80px;
      color: rgba(0, 0, 0, 0.808);
      margin-bottom: 30px;
      font-size: 1.2em;
    }
    h5 {
      text-align: center;
      width: 100%;
      color: #b132b1;
      font-weight: 550;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
  }
}

.skills-container {
  width: 100vw;
  display: flex;

  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(
      to right,
      rgba(20, 20, 20, 0.795),
      rgba(34, 34, 34, 0.801)
    ),
    url(https://images.pexels.com/photos/1089194/pexels-photo-1089194.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-position: center;
  background-size: cover;
  background-color: rgb(226, 226, 226);
  color: rgb(0, 0, 0);
  // clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 100%);

  .skills-title {
    margin-top: 15vh;
    margin-bottom: 60px;
    color: rgb(255, 255, 255);
    font-size: 43px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  .section-title {
    color: peru;
    font-size: 36px;
    text-align: center;
  }

  .skills {
    .progress {
      height: 120px;
      display: block;
      background: none;
      border-radius: 0px;
    }
    .skill {
      padding: 10px 0;
      margin: 0;
      text-transform: uppercase;
      display: block;
      font-weight: 500;
      font-weight: 500;
      font-size: 18px;
      display: flex;
      width: 100%;
      justify-content: space-between;
      padding-right: 10px;
    }
    .val {
      float: right;
      font-style: normal;
    }
  }

  .progress-bar-wrap {
    background: rgb(255, 255, 255);

    .progress-bar {
      height: 35px;
      transition: 0.9s;
      background-color: rgb(74, 199, 74);

      .jquery-width {
        width: 100px;
        height: 35px;
        background-color: rgb(45, 8, 49);
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .jquery-width {
        width: 100px;
        height: 35px;
        background-color: rgb(9, 47, 70);
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .html-width {
        width: 90px;
        height: 35px;
        background-color: rgb(158, 90, 22);
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .css-width {
        width: 90px;
        height: 35px;
        background-color: rgb(33, 77, 172);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
      }
      .js-width {
        width: 50px;
        height: 35px;
        background-color: rgb(196, 178, 21);
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .sass-width {
        width: 80px;
        height: 35px;
        background-color: rgb(177, 123, 132);
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .bootstrap-width {
        width: 120px;
        height: 35px;
        background-color: rgb(95, 12, 95);
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    i {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .html {
      background-color: rgb(221, 135, 49);
    }
    .css {
      background-color: rgb(77, 127, 235);
    }
    .js {
      background-color: rgb(245, 225, 46);
    }
    .sass {
      background-color: pink;
    }
    .jquery {
      background-color: rgb(9, 95, 124);
    }
    .bootstrap {
      background-color: rgb(155, 14, 155);
    }
  }
}
.node {
  width: 40%;
}
@media only screen and (max-width: 995px) {
  .skills-container {
    margin-top: -230px;
    .skills-title {
      margin-top: 23vh;
    }
  }
  .con {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .cube-con {
    position: static;
    display: flex;
    justify-content: center;
    margin: 0 10px;
    padding-bottom: 0px;
    margin-bottom: 10vh;
    margin-top: 2vh;
  }
  .cubeface {
    width: 200px;
    height: 200px;
  }
  .cube__faces {
    width: 200px;
    height: 200px !important;
  }
  .cubefront {
    transform: translateZ(150px);
    background-color: rgb(117, 93, 139);
  }
  .cubeback {
    transform: translateZ(-50px) rotateY(180deg);
    background-color: rgb(95, 76, 110);
  }
  .cuberight {
    transform: rotateY(-270deg) translateX(50px);
    transform-origin: top right;
    background-color: #46384b;
  }
  .cubetop {
    transform: rotateX(-90deg) translateY(-150px);
    transform-origin: top center;
    background-color: #604e68;
  }
  .cubebottom {
    transform: rotateX(90deg) translateY(150px);
    transform-origin: bottom center;
    background-color: #6a546e;
  }
  .cubeleft {
    transform: rotateY(270deg) translateX(-50px);
    transform-origin: center left;
    background-color: #8a618a;
  }
}

@media only screen and (max-width: 1150px) {
  .name {
    display: block;
    font-size: 60px;
    font-weight: 500;
    color: white;
    letter-spacing: 15px;
    width: 800px;
    padding: 0 30px;
  }
  .title {
    display: block;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 18px;
    color: #ffffff;
  }
}

@media only screen and (max-width: 780px) {
  .name {
    display: block;
    font-size: 55px;
    font-weight: 500;
    color: white;
    letter-spacing: 15px;
    width: 600px;
  }
  .title {
    display: block;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 10px;
    color: #ffffff;
  }
  .logo-container {
    position: absolute;
    top: 40px;
    left: 30px;
  }
}

@media only screen and (max-width: 650px) {
  .name {
    display: block;
    font-size: 50px;
    font-weight: 500;
    color: white;
    letter-spacing: 10px;
    width: 500px;
  }
  .title {
    display: block;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 5px;
    color: #ffffff;
  }

  .about-page {
    .icons {
      width: 100%;
      img {
        width: 100px;
      }
    }
    .about-title {
      display: flex;
      align-items: center;
      justify-content: center;
      h1 {
        color: rgb(148, 20, 120);
        font-size: 40px;
      }
    }
    .con {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
    }

    .content-about {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      p {
        padding: 0 30px;
        margin-bottom: 30px;
        font-size: 1.1em;
        text-align: center;
      }
      h5 {
        text-align: center;
        width: 100%;
        color: #b132b1;
        text-transform: uppercase;
        margin-bottom: 20px;
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  .node {
    width: 50%;
  }

  .name {
    display: block;
    font-size: 45px;
    font-weight: 500;
    color: white;
    letter-spacing: 10px;
    width: 400px;
  }
  .title {
    display: block;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 5px;
    color: #ffffff;
    width: 400px;
  }
  .heading-text {
    margin-bottom: 40px;
    line-height: 60px;
  }
  .logo {
    height: 60px;
  }
  .btn:link,
  .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.1rem 2rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    outline: none;
    font-size: 20px;
  }
  .logo-container {
    position: absolute;
    top: 30px;
    left: 20px;
  }
}
@media only screen and (max-width: 450px) {
  .name {
    display: block;
    font-size: 40px;
    font-weight: 500;
    color: white;
    letter-spacing: 10px;
    width: 350px;
    margin: 0px;
  }
  .title {
    display: block;
    font-size: 19px;
    font-weight: 600;
    letter-spacing: 4px;
    color: #ffffff;
    width: 350px;
  }
  .heading-text {
    margin-bottom: 40px;
    line-height: 60px;
  }

  .btn:link,
  .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.9rem 2rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    outline: none;
    font-size: 20px;
  }
  .logo-container {
    position: absolute;
    top: 30px;
    left: 20px;
  }
}
.col {
  padding: 0px;
}

.progress {
  letter-spacing: 1px;
}
@media only screen and (max-width: 405px) {
  .vid {
    display: none;
  }
  .gradient {
    background-image: linear-gradient(to top left, #9d29a8a4 0%, #751f6ebe 100%),
      url(./mpic.png);
    background-size: cover;
    background-position: center;
  }
  .name {
    display: block;
    font-size: 40px;
    font-weight: 500;
    color: white;
    letter-spacing: 5px;
    margin-right: 0px;
  }
  .title {
    display: block;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 3px;
    color: #ffffff;
  }
  .heading-text {
    margin-bottom: 30px;
    line-height: 50px;
  }

  .btn:link,
  .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.9rem 2rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    outline: none;
    font-size: 20px;
  }
  .logo-container {
    position: absolute;
    top: 30px;
    left: 20px;
  }
}
@media only screen and (max-width: 360px) {
  .name {
    display: block;
    font-size: 35px;
    font-weight: 500;
    color: white;
    letter-spacing: 5px;
    width: 280px;
    margin: 0;
  }
  .title {
    display: block;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 3px;
    color: #ffffff;
    width: 280px;
  }
  .heading-text {
    margin-bottom: 30px;
    line-height: 50px;
  }

  .btn:link,
  .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.9rem 1.3rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    outline: none;
    font-size: 20px;
  }
  .logo-container {
    position: absolute;
    top: 30px;
    left: 20px;
  }

  .about-page {
    .icons {
      img {
        width: 90px;
      }
    }
  }
}

.NavbarItems {
  position: relative;
}
.header__logo {
  font-size: 1.2rem;
}
.header__number {
  display: none;
}
.none {
  display: none;
}

.nav {
  &__link:visited,
  &__link:link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 0px;
    cursor: pointer;
    text-align: center;
    width: 100%;
    display: table;
    letter-spacing: 3px;
    font-family: "Fira Sans", sans-serif;
    color: #fdfdfd;
  }
  &__link:hover {
    transform: scale(1.2);
    transition: all 0.2s linear;
  }
  &__item {
    width: 100%;
  }
  &__item:hover {
    background-color: transparent;
  }
}

.nav-active {
  background: #772d7e;
  opacity: 1;
  padding-left: 0px;
  top: 0;
  transition: all 0.6s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 100vh;
  z-index: 10;
  position: fixed;
  left: -100%;
}

.nav-links {
  text-align: center;
  width: 100%;
  display: table;
}

.nav-item:hover {
  border: none;
}

.nav-item {
  width: 100%;
}

.navbar-logo {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(25%, 50%);
}

.menu-icon {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  transform: translate(-100%, 60%);
  font-size: 1.8rem;
  cursor: pointer;
  z-index: 1111;
  font-size: 3rem;
}

.fa-times {
  color: #fff;
  font-size: 2rem;
}

.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
}
.none {
  opacity: 0;
}
