*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  width: 100vw;
}
body {
  font-family: "Fira Sans", sans-serif;
  overflow-x: hidden;
}
header {
  height: 100vh;
  width: auto;
}
.gradient {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  background-image: linear-gradient(to top left, #9d29a8a4 0%, #751f6ebe 100%);
}
.vid {
  position: absolute;
  left: 0;
  top: 0;
  object-fit: fill;
  width: 100%;
  height: 100%;
  z-index: -3;
}
.logo-container {
  position: absolute;
  top: 30px;
  left: 20px;
}
.logo {
  height: 85px;
}
.logo:hover {
  transform: scale(1.2);
  transition: all 0.4s;
}
.content-box {
  position: absolute;
  top: 45%;
  left: 50%;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
  text-align: center;
}
.heading-text {
  margin-bottom: 40px;
  line-height: 80px;
}
.name {
  display: block;
  font-size: 70px;
  font-weight: 500;
  color: white;
  letter-spacing: 15px;
  width: 1000px;
}
.block {
  display: block;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.none {
  display: none;
}
.title {
  display: block;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 18px;
  color: #ffffff;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.3rem 2.6rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  outline: none;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  color: rgb(0, 0, 0);
  outline: none;
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0);
  outline: none;
}
.project-btn {
  background-color: white;
  font-weight: 700;
  color: rgb(0, 102, 255);
  font-size: 1.3rem;
  letter-spacing: 1.5px;
}

.about-page {
  width: 100vw;
  background-color: #e7e7e7;

  .about-title {
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
      color: rgb(20, 148, 52);
      font-size: 40px;
      margin-top: 4vh;
    }
  }
  .con {
    padding-top: 4vh;
    padding-bottom: 20vh;
  }
  .content-about {
    p {
      // padding: 0 80px;
      margin-bottom: 30px;
      font-size: 1.2em;
    }
    h5 {
      text-align: center;
      width: 100%;
      color: #b132b1;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
  }
}

.skills-container {
  width: 100vw;
  display: flex;
  margin-top: -150px;
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);

  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(
      to right,
      rgba(20, 20, 20, 0.795),
      rgba(34, 34, 34, 0.801)
    ),
    url(https://images.pexels.com/photos/1089194/pexels-photo-1089194.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-position: center;
  background-size: cover;
  background-color: rgb(226, 226, 226);
  color: rgb(0, 0, 0);
  // clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 100%);

  .skills-title {
    margin-top: 15vh;
    margin-bottom: 60px;
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
  }

  .section-title {
    color: peru;
    font-size: 36px;
    text-align: center;
  }

  .skills {
    .progress {
      height: 120px;
      display: block;
      background: none;
      border-radius: 0px;
    }
    .skill {
      padding: 10px 0;
      margin: 0;
      text-transform: uppercase;
      display: block;
      font-weight: 500;
      font-weight: 500;
      font-size: 18px;
      display: flex;
      width: 100%;
      justify-content: space-between;
      padding-right: 10px;
    }
    .val {
      float: right;
      font-style: normal;
    }
  }

  .progress-bar-wrap {
    background: rgb(255, 255, 255);

    .progress-bar {
      height: 35px;
      transition: 0.9s;
      background-color: rgb(74, 199, 74);

      .jquery-width {
        width: 100px;
        height: 35px;
        background-color: rgb(45, 8, 49);
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .jquery-width {
        width: 100px;
        height: 35px;
        background-color: rgb(9, 47, 70);
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .html-width {
        width: 90px;
        height: 35px;
        background-color: rgb(158, 90, 22);
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .css-width {
        width: 90px;
        height: 35px;
        background-color: rgb(33, 77, 172);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
      }
      .js-width {
        width: 50px;
        height: 35px;
        background-color: rgb(196, 178, 21);
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .sass-width {
        width: 80px;
        height: 35px;
        background-color: rgb(177, 123, 132);
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .bootstrap-width {
        width: 120px;
        height: 35px;
        background-color: rgb(95, 12, 95);
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    i {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .html {
      background-color: rgb(221, 135, 49);
    }
    .css {
      background-color: rgb(77, 127, 235);
    }
    .js {
      background-color: rgb(245, 225, 46);
    }
    .sass {
      background-color: pink;
    }
    .jquery {
      background-color: rgb(9, 95, 124);
    }
    .bootstrap {
      background-color: rgb(155, 14, 155);
    }
  }
}
.node {
  width: 40%;
}
@media only screen and (max-width: 1150px) {
  .name {
    display: block;
    font-size: 60px;
    font-weight: 500;
    color: white;
    letter-spacing: 15px;
    width: 800px;
  }
  .title {
    display: block;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 18px;
    color: #ffffff;
  }
}

@media only screen and (max-width: 780px) {
  .name {
    display: block;
    font-size: 55px;
    font-weight: 500;
    color: white;
    letter-spacing: 15px;
    width: 600px;
  }
  .title {
    display: block;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 10px;
    color: #ffffff;
  }
  .logo-container {
    position: absolute;
    top: 40px;
    left: 30px;
  }
}

@media only screen and (max-width: 650px) {
  .name {
    display: block;
    font-size: 50px;
    font-weight: 500;
    color: white;
    letter-spacing: 10px;
    width: 500px;
  }
  .title {
    display: block;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 5px;
    color: #ffffff;
  }

  .about-page {
    .icons {
      width: 100%;
      img {
        width: 100px;
      }
    }
    .about-title {
      display: flex;
      align-items: center;
      justify-content: center;
      h1 {
        color: rgb(148, 20, 120);
        font-size: 40px;
      }
    }
    .con {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .content-about {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      p {
        padding: 0 30px;
        margin-bottom: 30px;
        font-size: 1.1em;
        text-align: center;
      }
      h5 {
        text-align: center;
        width: 100%;
        color: #b132b1;
        text-transform: uppercase;
        margin-bottom: 20px;
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  .node {
    width: 50%;
  }

  .name {
    display: block;
    font-size: 40px;
    font-weight: 500;
    color: white;
    letter-spacing: 10px;
    width: 400px;
  }
  .title {
    display: block;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 5px;
    color: #ffffff;
    width: 400px;
  }
  .heading-text {
    margin-bottom: 40px;
    line-height: 60px;
  }
  .logo {
    height: 60px;
  }
  .btn:link,
  .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.1rem 2rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    outline: none;
    font-size: 20px;
  }
  .logo-container {
    position: absolute;
    top: 30px;
    left: 20px;
  }
}
@media only screen and (max-width: 450px) {
  .name {
    display: block;
    font-size: 40px;
    font-weight: 500;
    color: white;
    letter-spacing: 10px;
    width: 350px;
    margin: 0px;
  }
  .title {
    display: block;
    font-size: 19px;
    font-weight: 600;
    letter-spacing: 4px;
    color: #ffffff;
    width: 350px;
  }
  .heading-text {
    margin-bottom: 40px;
    line-height: 60px;
  }

  .btn:link,
  .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.9rem 2rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    outline: none;
    font-size: 20px;
  }
  .logo-container {
    position: absolute;
    top: 30px;
    left: 20px;
  }
}

@media only screen and (max-width: 405px) {
  .vid {
    display: none;
  }

  .name {
    display: block;
    font-size: 35px;
    font-weight: 500;
    color: white;
    letter-spacing: 5px;
    width: 300px;
    margin: 0px;
  }
  .title {
    display: block;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 3px;
    color: #ffffff;
    width: 300px;
  }
  .heading-text {
    margin-bottom: 30px;
    line-height: 50px;
  }

  .btn:link,
  .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.9rem 2rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    outline: none;
    font-size: 20px;
  }
  .logo-container {
    position: absolute;
    top: 30px;
    left: 20px;
  }
}
@media only screen and (max-width: 360px) {
  .name {
    display: block;
    font-size: 35px;
    font-weight: 500;
    color: white;
    letter-spacing: 5px;
    width: 280px;
    margin: 0;
  }
  .title {
    display: block;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 3px;
    color: #ffffff;
    width: 280px;
  }
  .heading-text {
    margin-bottom: 30px;
    line-height: 50px;
  }

  .btn:link,
  .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.9rem 1.3rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    outline: none;
    font-size: 20px;
  }
  .logo-container {
    position: absolute;
    top: 30px;
    left: 20px;
  }

  .about-page {
    .icons {
      img {
        width: 90px;
      }
    }
  }
}
//add parials
//make the page faster the video is making it slower
