.testimonial {
  height: 200vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
      to right,
      rgba(20, 20, 20, 0.795),
      rgba(34, 34, 34, 0.801)
    ),
    url(https://images.pexels.com/photos/5997286/pexels-photo-5997286.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-position: center;
  color: white;
  position: relative;
  h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
  }
}
.testi-con {
  flex: 0 0 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  &__actual {
    position: relative;
    width: 60vw;
    height: 600px;
    display: flex;
    flex-direction: row;
    background-color: rgb(231, 231, 231);
  }
  &__pic {
    flex: 0 0 40%;
    height: 100%;
    padding: 50px;

    &__image {
      background-image: linear-gradient(
          to right,
          rgba(177, 61, 177, 0.596),
          rgba(141, 82, 153, 0.562)
        ),
        url(https://images.pexels.com/photos/4114735/pexels-photo-4114735.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
      background-size: cover;
      height: inherit;
      background-position: center;
    }
  }
  &__content::before {
    content: "\201C";
    font-size: 10rem;
    position: absolute;
    top: 2rem;
    left: 2rem;
    color: #610c4fa4;
  }
  &__content::after {
    content: "\201C";
    font-size: 10rem;
    position: absolute;
    bottom: -1rem;
    right: 4rem;
    color: #400d7aa2;
    transform: rotateY(180deg);
  }
  &__content {
    position: relative;
    flex: 0 0 6;
    padding: 50px;
    padding-right: 50px;
    height: 90%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__para {
      line-height: 2;
    }
    &__name {
      padding-top: 25px;
      text-align: left;
      width: 100%;
      font-weight: bold;
      font-size: 25px;
      color: purple;
      letter-spacing: 1px;
    }
  }
}
.next {
  cursor: pointer;
  position: absolute;
  right: -35px;
  top: 50%;
  transform: translateY(-50%);
  height: 70px;
  width: 70px;
  background-color: purple;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  padding-left: 5px;
  box-shadow: 0 2px 25px rgba(121, 31, 77, 0.5);
}
.back {
  cursor: pointer;
  position: absolute;
  left: -40px;
  top: 50%;
  transform: translateY(-50%);
  height: 70px;
  width: 70px;
  background-color: purple;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  padding-right: 5px;
  box-shadow: 0 2px 25px rgba(121, 31, 77, 0.5);
}
